In [2]:
import pandas as pd
import numpy as np
import re
import time

In [4]:
boroughs = ['brooklyn','manhattan','queens']

df_list = []
for i in range(2012,2018):
    for b in boroughs[:-1]:
        df_list.append(pd.read_excel('../datasets/' + str(i) + '_' + b + '.xls', header=4))

In [348]:
boroughs[:-1]

['brooklyn', 'manhattan']

In [350]:
df = pd.concat(df_list)

/Users/SamLiebman/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [351]:
df.columns

Index(['ADDRESS\n', 'APARTMENT NUMBER\n', 'BLOCK\n', 'BOROUGH\n',
       'BUILDING CLASS AS OF FINAL ROLL 17/18', 'BUILDING CLASS AT PRESENT\n',
       'BUILDING CLASS AT TIME OF SALE\n', 'BUILDING CLASS CATEGORY\n',
       'COMMERCIAL UNITS\n', 'EASE-MENT\n', 'GROSS SQUARE FEET\n',
       'LAND SQUARE FEET\n', 'LOT\n', 'NEIGHBORHOOD\n', 'RESIDENTIAL UNITS\n',
       'SALE DATE\n', 'SALE PRICE\n', 'TAX CLASS AS OF FINAL ROLL 17/18',
       'TAX CLASS AT PRESENT\n', 'TAX CLASS AT TIME OF SALE\n',
       'TOTAL UNITS\n', 'YEAR BUILT\n', 'ZIP CODE\n'],
      dtype='object')

In [352]:
#dropping tax columns

df=df.drop(columns= ['BLOCK\n','BUILDING CLASS AS OF FINAL ROLL 17/18', 'BUILDING CLASS AT PRESENT\n',
       'BUILDING CLASS AT TIME OF SALE\n','EASE-MENT\n','LOT\n','TAX CLASS AS OF FINAL ROLL 17/18',
       'TAX CLASS AT PRESENT\n', 'TAX CLASS AT TIME OF SALE\n'])

#turning columns into a list
title = list(df.columns)

#remove \n and space between words to _
title_list =[]
for t in title:
    t= t.strip('\n')
    t=t.replace(' ', '_')
    title_list.append(t.lower())

#rename columns
df.columns=title_list

#drop total_units >1
df = df[df['total_units']==1]

#remove all whitespace
df = df.apply(lambda x: x.str.strip() if x.dtype == 'object' else x)
df.address = df.address.replace('\s+', ' ', regex=True)

#remove prices less than $100000
df =df[df['sale_price']>100000]

In [360]:
#function to round address numbers
def round_addresses():
    addresses = list(df.address)
    rounded_addresses = []
    for address in addresses:
        #print(address)
        if address[0].isnumeric()==False:
            rounded_addresses.append(address)
        else:
            a = address.split(' ',1)
            a[0] = re.sub('[^0-9-]','', a[0])
            a1 = a[0].split('-')[0]
            a_round = str(int(np.floor(int(a1)/10)*10))
            rounded_addresses.append(a_round + ' ' + ' '.join(a[1:]))
    return rounded_addresses

In [361]:
round_addresses = round_addresses()

In [366]:
#round down address numbers
df.address = round_addresses

In [376]:
len(set(df.address))

16926

In [354]:
import geocoder

In [99]:
df['latlng'] = geocoder.google(df.address).latlng

Status code Unknown from https://maps.googleapis.com/maps/api/geocode/json: ERROR - ('Connection aborted.', OSError("(32, 'EPIPE')",))

In [373]:
def get_latlng():
    addresses = list(df.address)
    g = []
    for a in addresses:
        if len(g) % 49 == 0:
            time.sleep(1)
        x = geocoder.google(a).latlng
        g.append((a,x))
        print(len(g),a,x)
    return g

In [374]:
get_latlng()

AttributeError: 'Series' object has no attribute 'df'

In [372]:
df.describe()

,borough,commercial_units,gross_square_feet,land_square_feet,residential_units,sale_price,total_units,year_built,zip_code
count,73157.000000,73157.000000,7.315700e+04,73157.000000,73157.000000,7.315700e+04,73157.0,73157.000000,73157.000000
mean,1.898643,0.040324,1.128305e+03,823.094468,0.926596,2.467373e+06,1.0,1584.139727,10548.199284
std,0.994857,0.196720,1.854823e+04,7141.263132,0.365591,1.874972e+07,0.0,777.922568,742.980951
min,1.000000,0.000000,0.000000e+00,0.000000,0.000000,1.001980e+05,1.0,0.000000,0.000000
25%,1.000000,0.000000,0.000000e+00,0.000000,1.000000,5.710000e+05,1.0,1905.000000,10019.000000
50%,1.000000,0.000000,0.000000e+00,0.000000,1.000000,9.400000e+05,1.0,1940.000000,10069.000000
75%,3.000000,0.000000,0.000000e+00,0.000000,1.000000,1.838348e+06,1.0,2005.000000,11217.000000
max,3.000000,1.000000,1.809073e+06,644732.000000,59.000000,2.200000e+09,1.0,2016.000000,11416.000000