In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import geopandas

# import and merge dfs

In [7]:
apt_df = pd.read_csv('clean_df.csv',index_col=0)
lng_lat_df = pd.read_csv('lng_lat_df.csv',index_col=0)

In [9]:
lng_lat_df.head()

                address        lng        lat
0      70 BAY 10 STREET -74.010374  40.609752
1  8650 BAY 16TH STREET -74.005338  40.607264
2    70 BAY 20TH STREET -74.002813  40.605148
3   130 BAY 10TH STREET -74.011683  40.608472
4   110 BAY 17TH STREET -74.006032  40.605548

In [12]:
apt_df.head()

,address,apartment_number,borough,building_class_category,commercial_units,gross_square_feet,land_square_feet,neighborhood,residential_units,sale_date,sale_price,total_units,year_built,zip_code
6,70 BAY 10 STREET,NaN,3,01 ONE FAMILY HOMES,0,1428,2513,BATH BEACH,1,2012-06-28,610000,1,1930,11228
8,8650 BAY 16TH STREET,NaN,3,01 ONE FAMILY HOMES,0,1724,4833,BATH BEACH,1,2012-12-18,860000,1,1930,11214
10,70 BAY 20TH STREET,NaN,3,01 ONE FAMILY HOMES,0,2132,2417,BATH BEACH,1,2012-08-24,508000,1,1930,11214
13,130 BAY 10TH STREET,NaN,3,01 ONE FAMILY HOMES,0,2000,2417,BATH BEACH,1,2012-11-14,690000,1,1935,11228
16,110 BAY 17TH STREET,NaN,3,01 ONE FAMILY HOMES,0,1410,1611,BATH BEACH,1,2012-04-04,420000,1,1910,11214

In [13]:
df = lng_lat_df.merge(apt_df, on='address')

In [14]:
df

,address,lng,lat,apartment_number,borough,building_class_category,commercial_units,gross_square_feet,land_square_feet,neighborhood,residential_units,sale_date,sale_price,total_units,year_built,zip_code
0,70 BAY 10 STREET,-74.010374,40.609752,NaN,3,01 ONE FAMILY HOMES,0,1428,2513,BATH BEACH,1,2012-06-28,610000,1,1930,11228
1,8650 BAY 16TH STREET,-74.005338,40.607264,NaN,3,01 ONE FAMILY HOMES,0,1724,4833,BATH BEACH,1,2012-12-18,860000,1,1930,11214
2,8650 BAY 16TH STREET,-74.005338,40.607264,2A,3,04 TAX CLASS 1 CONDOS,0,0,0,BATH BEACH,1,2012-07-25,452000,1,0,11214
3,8650 BAY 16TH STREET,-74.005338,40.607264,1B,3,04 TAX CLASS 1 CONDOS,0,0,0,BATH BEACH,1,2014-10-27,510000,1,0,11214
4,8650 BAY 16TH STREET,-74.005338,40.607264,1C,3,04 TAX CLASS 1 CONDOS,0,0,0,BATH BEACH,1,2015-12-15,520000,1,0,11214
5,8650 BAY 16TH STREET,-74.005338,40.607264,2B,3,04 TAX CLASS 1 CONDOS,0,0,0,BATH BEACH,1,2017-06-27,515000,1,0,11214
6,8650 BAY 16TH STREET,-74.005338,40.607264,3B,3,04 TAX CLASS 1 CONDOS,0,0,0,BATH BEACH,1,2017-10-18,650000,1,0,11214
7,70 BAY 20TH STREET,-74.002813,40.605148,NaN,3,01 ONE FAMILY HOMES,0,2132,2417,BATH BEACH,1,2012-08-24,508000,1,1930,11214
8,70 BAY 20TH STREET,-74.002813,40.605148,1C,3,04 TAX CLASS 1 CONDOS,0,0,0,BATH BEACH,1,2013-08-22,465000,1,2007,11214
9,70 BAY 20TH STREET,-74.002813,40.605148,1B,3,04 TAX CLASS 1 CONDOS,0,0,0,BATH BEACH,1,2014-12-10,480000,1,2007,11214
10,70 BAY 20TH STREET,-74.002813,40.605148,3B,3,04 TAX CLASS 1 CONDOS,0,0,0,BATH BEACH,1,2015-03-05,595000,1,2007,11214
11,70 BAY 20TH STREET,-74.002813,40.605148,3C,3,04 TAX CLASS 1 CONDOS,0,0,0,BATH BEACH,1,2016-10-07,670000,1,2007,11214
12,70 BAY 20TH STREET,-74.002813,40.605148,3A,3,04 TAX CLASS 1 CONDOS,0,0,0,BATH BEACH,1,2017-10-05,649000,1,2007,11214
13,130 BAY 10TH STREET,-74.011683,40.608472,NaN,3,01 ONE FAMILY HOMES,0,2000,2417,BATH BEACH,1,2012-11-14,690000,1,1935,11228
14,110 BAY 17TH STREET,-74.006032,40.605548,NaN,3,01 ONE FAMILY HOMES,0,1410,1611,BATH BEACH,1,2012-04-04,420000,1,1910,11214
15,90 BAY 25TH STREET,-73.999648,40.602390,NaN,3,01 ONE FAMILY HOMES,0,1256,1440,BATH BEACH,1,2012-07-19,500000,1,1915,11214
16,90 BAY 25TH STREET,-73.999648,40.602390,NaN,3,01 ONE FAMILY DWELLINGS,0,1281,1440,BATH BEACH,1,2013-03-11,479000,1,1915,11214
17,90 BAY 25TH STREET,-73.999648,40.602390,NaN,3,01 ONE FAMILY DWELLINGS,0,1281,1440,BATH BEACH,1,2016-02-23,699000,1,1915,11214
18,210 BAY 26TH STREET,-74.001404,40.599610,NaN,3,01 ONE FAMILY HOMES,0,1782,1740,BATH BEACH,1,2012-05-15,605000,1,1955,11214
19,8930 15TH AVENUE,-74.016579,40.604982,NaN,3,01 ONE FAMILY HOMES,0,2100,1933,BATH BEACH,1,2012-07-16,715000,1,1910,11228
20,8930 15TH AVENUE,-74.016579,40.604982,NaN,3,01 ONE FAMILY DWELLINGS,0,1674,1740,BATH BEACH,1,2014-04-25,677000,1,1960,11228
21,310 BAY 14TH STREET,-74.012305,40.602978,NaN,3,01 ONE FAMILY HOMES,0,1488,1511,BATH BEACH,1,2012-03-07,550000,1,1950,11214
22,270 BAY 14TH STREET,-74.011639,40.603658,NaN,3,01 ONE FAMILY HOMES,0,1728,1795,BATH BEACH,1,2012-01-24,590000,1,1930,11214
23,270 BAY 14TH STREET,-74.011639,40.603658,NaN,3,01 ONE FAMILY DWELLINGS,0,1728,1795,BATH BEACH,1,2013-09-20,583000,1,1930,11214
24,270 BAY 14TH STREET,-74.011639,40.603658,NaN,3,01 ONE FAMILY DWELLINGS,0,1728,1795,BATH BEACH,1,2014-07-09,526909,1,1930,11214
25,290 BAY 13TH STREET,-74.012565,40.603856,NaN,3,01 ONE FAMILY HOMES,0,1392,1649,BATH BEACH,1,2012-06-07,480000,1,1945,11214
26,290 BAY 13TH STREET,-74.012565,40.603856,NaN,3,01 ONE FAMILY DWELLINGS,0,1860,2062,BATH BEACH,1,2013-03-01,410000,1,1940,11214
27,290 BAY 13TH STREET,-74.012565,40.603856,NaN,3,01 ONE FAMILY DWELLINGS,0,1240,2062,BATH BEACH,1,2017-03-03,850000,1,1940,11214
28,240 BAY 13TH STREET,-74.011674,40.605027,NaN,3,01 ONE FAMILY HOMES,0,1392,1649,BATH BEACH,1,2012-12-12,520000,1,1940,11214
29,240 BAY 13TH STREET,-74.011674,40.605027,NaN,3,01 ONE FAMILY DWELLINGS,0,1392,1648,BATH BEACH,1,2013-02-21,420000,1,1945,11214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73127,500 W. 110TH STREET,-73.964338,40.802923,1G,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,UPPER WEST SIDE (96-116),1,2017-04-06,470000,1,1909,10025
73128,500 WEST 110 STREET,-73.964338,40.802923,10F,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,UPPER WEST SIDE (96-116),1,2017-08-04,722000,1,1909,10025
73129,520 WEST 110 STREET,-73.965452,40.803430,5A,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,UPPER WEST SIDE (96-116),1,2017-01-09,1562500,1,1911,10025
73130,270 RIVERSIDE DRIVE,-73.973039,40.797932,2C,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,UPPER WEST SIDE (96-116),1,2017-05-02,2202500,1,1920,10025
73131,270 RIVERSIDE DRIVE,-73.973039,40.797932,3B,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,UPPER WEST SIDE (96-116),1,2017-09-25,3156575,1,1920,10025
73132,270 RIVERSIDE DRIVE,-73.973039,40.797932,4D,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,UPPER WEST SIDE (96-116),1,2017-09-26,1000000,1,1920,10025
73133,270 RIVERSIDE DRIVE,-73.973039,40.797932,12D,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,UPPER WEST SIDE (96-116),1,2017-02-01,3462050,1,1920,10025
73134,610 WEST 110TH ST,-73.967633,40.804192,8C,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,UPPER WEST SIDE (96-116),1,2017-10-24,1650000,1,1922,10025
73135,450 W 167TH ST,-73.936792,40.838495,1D,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS LOWER,1,2017-06-30,628000,1,2012,10032
73136,2360 AMSTERDAM,-73.933089,40.845826,6A,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS LOWER,1,2017-05-01,895000,1,0,10033
73137,60 BENNETT AVENUE,-77.572342,43.189066,NaN,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-01-31,545000,1,1954,10033
73138,60 BENNETT AVENUE,-77.572342,43.189066,NaN,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-12-18,510000,1,1954,10033
73139,100 BENNETT AVENUE,-73.936120,40.853577,12B,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-12-27,492804,1,1939,10033
73140,100 BENNETT AVENUE,-73.936120,40.853577,14A,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-03-28,491790,1,1939,10033
73141,100 BENNETT AVENUE,-73.936120,40.853577,16B,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-06-12,660000,1,1939,10033
73142,100 BENNETT AVENUE,-73.936120,40.853577,21B,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-01-30,571238,1,1939,10033
73143,100 BENNETT AVENUE,-73.936120,40.853577,22A,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-02-23,544763,1,1939,10033
73144,100 BENNETT AVENUE,-73.936120,40.853577,24B,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-01-27,460000,1,1939,10033
73145,100 BENNETT AVENUE,-73.936120,40.853577,26B,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-02-28,576635,1,1939,10033
73146,100 BENNETT AVENUE,-73.936120,40.853577,34A,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-01-11,455000,1,1939,10033
73147,100 BENNETT AVENUE,-73.936120,40.853577,35B,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-05-17,566147,1,1939,10033
73148,100 BENNETT AVENUE,-73.936120,40.853577,45A,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-03-15,775000,1,1939,10033
73149,100 BENNETT AVENUE,-73.936120,40.853577,45B,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-01-24,550000,1,1939,10033
73150,100 BENNETT AVENUE,-73.936120,40.853577,51A,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-01-13,960000,1,1939,10033
73151,100 BENNETT AVENUE,-73.936120,40.853577,52A,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-02-16,594658,1,1939,10033
73152,100 BENNETT AVENUE,-73.936120,40.853577,55B,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-02-22,560000,1,1939,10033
73153,100 BENNETT AVENUE,-73.936120,40.853577,63A,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-10-04,535000,1,1939,10033
73154,100 BENNETT AVENUE,-73.936120,40.853577,64A,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-01-05,475000,1,1939,10033
73155,100 BENNETT AVENUE,-73.936120,40.853577,12HB,1,13 CONDOS - ELEVATOR APARTMENTS,0,0,0,WASHINGTON HEIGHTS UPPER,1,2017-01-26,400530,1,1939,10033
73156,530 W. 187TH STREET,-73.929403,40.852146,NaN,1,38 ASYLUMS AND HOMES,1,3907,1444,WASHINGTON HEIGHTS UPPER,0,2017-09-07,1100000,1,1920,10033