In [34]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import geopandas
from shapely.geometry import Point

# import and merge dfs

In [66]:
apt_df = pd.read_csv('clean_df.csv',index_col=0)
lng_lat_df = pd.read_csv('lng_lat_df.csv',index_col=0)

In [67]:
lng_lat_df.head()

                address        lng        lat
0      70 BAY 10 STREET -74.010374  40.609752
1  8650 BAY 16TH STREET -74.005338  40.607264
2    70 BAY 20TH STREET -74.002813  40.605148
3   130 BAY 10TH STREET -74.011683  40.608472
4   110 BAY 17TH STREET -74.006032  40.605548

In [68]:
# convert to points
# geometry = [Point(xy) for xy in zip(lng_lat_df.lng, lng_lat_df.lat)]
# df2 = lng_lat_df.drop(['lng','lat'], axis=1)
# crs = {'init': 'epsg:4326'}
# gdf = geopandas.GeoDataFrame(df2, crs=crs, geometry=geometry)

In [69]:
df = lng_lat_df.merge(apt_df, on='address')
df = df.fillna(0)
df.sale_date = pd.to_datetime(df.sale_date)

In [70]:
df.head()

,address,lng,lat,apartment_number,borough,building_class_category,commercial_units,gross_square_feet,land_square_feet,neighborhood,residential_units,sale_date,sale_price,total_units,year_built,zip_code
0,70 BAY 10 STREET,-74.010374,40.609752,0,3,01 ONE FAMILY HOMES,0,1428,2513,BATH BEACH,1,2012-06-28,610000,1,1930,11228
1,8650 BAY 16TH STREET,-74.005338,40.607264,0,3,01 ONE FAMILY HOMES,0,1724,4833,BATH BEACH,1,2012-12-18,860000,1,1930,11214
2,8650 BAY 16TH STREET,-74.005338,40.607264,2A,3,04 TAX CLASS 1 CONDOS,0,0,0,BATH BEACH,1,2012-07-25,452000,1,0,11214
3,8650 BAY 16TH STREET,-74.005338,40.607264,1B,3,04 TAX CLASS 1 CONDOS,0,0,0,BATH BEACH,1,2014-10-27,510000,1,0,11214
4,8650 BAY 16TH STREET,-74.005338,40.607264,1C,3,04 TAX CLASS 1 CONDOS,0,0,0,BATH BEACH,1,2015-12-15,520000,1,0,11214

In [71]:
df.to_csv('merged_df.csv')

In [72]:
type(df)

pandas.core.frame.DataFrame