In [1]:
import pandas as pd 
import numpy as np 
import pandas as pd
import requests
import matplotlib.pyplot as plt
%matplotlib inline
import geopandas
from shapely.geometry import Point

In [2]:
citi_13= pd.read_csv('../datasets/citibike2013.csv')

In [3]:
citi_13.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,695,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983.0,1
1,693,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984.0,1
2,2059,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0
3,123,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960.0,1
4,1521,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983.0,1

In [4]:
citi_13=citi_13[['start station id','start station name','start station latitude','start station longitude']]

In [5]:
citi_13 =citi_13.drop_duplicates(subset=None, keep='first')

In [6]:
citi_13.columns

Index(['start station id', 'start station name', 'start station latitude',
       'start station longitude'],
      dtype='object')

In [7]:
citi_13= citi_13.rename(index=str, columns={'start station id': 'id', 'start station name': 'name','start station latitude':'lat','start station longitude':'long'})

In [8]:
citi_13.head()

     id                    name        lat       long
0   444      Broadway & W 24 St  40.742354 -73.989151
2   406  Hicks St & Montague St  40.695128 -73.995951
3   475     E 15 St & Irving Pl  40.735243 -73.987586
4  2008   Little West St & 1 Pl  40.705693 -74.016777
5   485         W 37 St & 5 Ave  40.750380 -73.983390

In [9]:
geometry13 = [Point(xy) for xy in zip(citi_13.long, citi_13.lat)]
df13 = citi_13.drop(['long','lat'], axis=1)
crs = {'init': 'epsg:4326'}
gdf13 = geopandas.GeoDataFrame(df13, crs=crs, geometry=geometry13)

In [10]:
gdf13.head()

     id                    name                          geometry
0   444      Broadway & W 24 St   POINT (-73.98915076 40.7423543)
2   406  Hicks St & Montague St  POINT (-73.99595065 40.69512845)
3   475     E 15 St & Irving Pl  POINT (-73.98758561 40.73524276)
4  2008   Little West St & 1 Pl  POINT (-74.01677685 40.70569254)
5   485         W 37 St & 5 Ave  POINT (-73.98338988 40.75038009)

In [11]:
citi_18= pd.read_csv('../datasets/citibike2018.csv')

In [12]:
citi_18= citi_18[['start station id','start station name','start station latitude','start station longitude']]

In [13]:
citi_18=citi_18.drop_duplicates(subset=None, keep='first')

In [14]:
citi_18= citi_18.rename(index=str, columns={'start station id': 'id', 'start station name': 'name','start station latitude':'lat','start station longitude':'long'})

In [15]:
citi_18.head()

        id                           name        lat       long
0       72               W 52 St & 11 Ave  40.767272 -73.993929
4429    79       Franklin St & W Broadway  40.719116 -74.006667
7173    82         St James Pl & Pearl St  40.711174 -74.000165
8427    83  Atlantic Ave & Fort Greene Pl  40.683826 -73.976323
10252  119       Park Ave & St Edwards St  40.696089 -73.978034

In [16]:
geometry18 = [Point(xy) for xy in zip(citi_18.long, citi_18.lat)]

In [17]:
df18 = citi_18.drop(['long','lat'], axis=1)

In [18]:

crs = {'init': 'epsg:4326'}
gdf18 = geopandas.GeoDataFrame(df18, crs=crs, geometry=geometry18)

## Convert Citibike to geodataframe

In [19]:
gdf18.head()

        id                           name                          geometry
0       72               W 52 St & 11 Ave  POINT (-73.99392888 40.76727216)
4429    79       Franklin St & W Broadway  POINT (-74.00666661 40.71911552)
7173    82         St James Pl & Pearl St  POINT (-74.00016545 40.71117416)
8427    83  Atlantic Ave & Fort Greene Pl  POINT (-73.97632328 40.68382604)
10252  119       Park Ave & St Edwards St  POINT (-73.97803415 40.69608941)

# export citibike data as csv

In [54]:
gdf13.to_csv('citi_13_data.csv')
gdf18.to_csv('citi_18_data.csv')

## Subway

In [20]:
subway= pd.read_csv('../datasets/subway.csv')

In [21]:
subway.head()

,URL,OBJECTID,NAME,the_geom,LINE,NOTES
0,http://web.mta.info/nyct/service/,1,Astor Pl,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s..."
1,http://web.mta.info/nyct/service/,2,Canal St,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s..."
2,http://web.mta.info/nyct/service/,3,50th St,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights"
3,http://web.mta.info/nyct/service/,4,Bergen St,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times"
4,http://web.mta.info/nyct/service/,5,Pennsylvania Ave,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times"

In [22]:
s =subway['the_geom']

In [23]:
subway.dtypes

URL         object
OBJECTID     int64
NAME        object
the_geom    object
LINE        object
NOTES       object
dtype: object

In [24]:
s=s.tolist()

In [25]:
s[0][7:18]

'-73.9910699'

In [26]:
lat = []
for c in s:
    lat.append(c[25:-8])

In [27]:
lat= pd.DataFrame(lat)

In [28]:
long = []
for c in s:
    long.append(c[7:18])

In [29]:
long=pd.DataFrame(long)

In [30]:
lat.head()

             0
0   40.7300540
1   40.7188030
2   40.7617279
3   40.6808621
4   40.6647144

In [31]:
long.head()

             0
0  -73.9910699
1  -74.0001929
2  -73.9838489
3  -73.9749991
4  -73.8948859

In [32]:
subway['lat']=lat

In [33]:
subway['long']=long

In [34]:
subway['lat']=subway['lat'].astype('float')
subway['long']=subway['long'].astype('float')

In [35]:
subway.head()

,URL,OBJECTID,NAME,the_geom,LINE,NOTES,lat,long
0,http://web.mta.info/nyct/service/,1,Astor Pl,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.730054,-73.991070
1,http://web.mta.info/nyct/service/,2,Canal St,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.718803,-74.000193
2,http://web.mta.info/nyct/service/,3,50th St,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights",40.761728,-73.983849
3,http://web.mta.info/nyct/service/,4,Bergen St,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times",40.680862,-73.974999
4,http://web.mta.info/nyct/service/,5,Pennsylvania Ave,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times",40.664714,-73.894886

In [36]:
crs = {'init': 'epsg:4326'}
subwaygeo=geopandas.GeoDataFrame(subway, crs=crs)

In [37]:
subwaygeo

,URL,OBJECTID,NAME,the_geom,LINE,NOTES,lat,long
0,http://web.mta.info/nyct/service/,1,Astor Pl,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.730054,-73.991070
1,http://web.mta.info/nyct/service/,2,Canal St,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.718803,-74.000193
2,http://web.mta.info/nyct/service/,3,50th St,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights",40.761728,-73.983849
3,http://web.mta.info/nyct/service/,4,Bergen St,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times",40.680862,-73.974999
4,http://web.mta.info/nyct/service/,5,Pennsylvania Ave,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times",40.664714,-73.894886
5,http://web.mta.info/nyct/service/,6,238th St,POINT (-73.90087000018522 40.88466700064975),1,"1-all times, exit only northbound",40.884667,-73.900870
6,http://web.mta.info/nyct/service/,7,Cathedral Pkwy (110th St),POINT (-73.95806670661364 40.800581558114956),A-B-C,"A-nights, B-weekdays and evenings, C-all times...",40.800582,-73.958067
7,http://web.mta.info/nyct/service/,8,Kingston - Throop Aves,POINT (-73.94085899871263 40.67991899941601),A-C,"A-nights, C-all other times",40.679919,-73.940859
8,http://web.mta.info/nyct/service/,9,65th St,POINT (-73.8987883783301 40.74971952935675),E-M-R,"E-nights, R-all other times, M-weekdays and ev...",40.749719,-73.898788
9,http://web.mta.info/nyct/service/,10,36th St,POINT (-73.92901818461539 40.75196004401078),E-M-R,"E-nights, R-all other times, M-weekdays and ev...",40.751960,-73.929018
10,http://web.mta.info/nyct/service/,11,Delancey St - Essex St,POINT (-73.98740940202974 40.71830605618619),J-M-Z,"J-all times, M-all times exc nights, Z-rush ho...",40.718306,-73.987409
11,http://web.mta.info/nyct/service/,12,Van Siclen Ave,POINT (-73.89165772702445 40.67802821447783),J-Z,"Z-rush hours AM westbound, PM eastbound, J-all...",40.678028,-73.891658
12,http://web.mta.info/nyct/service/,13,Norwood Ave,POINT (-73.87962599910783 40.68152000045683),J-Z,"Z-rush hours AM westbound, PM eastbound, J-all...",40.681520,-73.879626
13,http://web.mta.info/nyct/service/,14,104th-102nd Sts,POINT (-73.84443500029684 40.69516599823373),J-Z,"Z-rush hours AM westbound, PM eastbound, J-all...",40.695166,-73.844435
14,http://web.mta.info/nyct/service/,15,DeKalb Ave,POINT (-73.98177094440949 40.690648119969794),B-D-N-Q-R,"B-weekdays and evenings, D-all other times, N-...",40.690648,-73.981771
15,http://web.mta.info/nyct/service/,16,Beach 105th St,POINT (-73.82758075034528 40.58326843810286),A-S,"A-rush hours AM northbound, PM southbound, S B...",40.583268,-73.827581
16,http://web.mta.info/nyct/service/,17,Beach 90th St,POINT (-73.81365140419632 40.58809156457325),A-S,"A-rush hours AM northbound, PM southbound, S B...",40.588091,-73.813651
17,http://web.mta.info/nyct/service/,18,Freeman St,POINT (-73.89175225349464 40.829987446384116),2-5,"2-all times, 5-all times exc nights, skips rus...",40.829987,-73.891752
18,http://web.mta.info/nyct/service/,19,Intervale Ave,POINT (-73.89661738461646 40.822142131170786),2-5,"2-all times, 5-all times exc nights, skips rus...",40.822142,-73.896617
19,http://web.mta.info/nyct/service/,20,182nd-183rd Sts,POINT (-73.90074099998965 40.85609299881864),B-D,"B-rush hours, D-all times, skips rush hours AM...",40.856093,-73.900741
20,http://web.mta.info/nyct/service/,21,174th-175th Sts,POINT (-73.91013600050078 40.84589999983414),B-D,"B-rush hours, D-all times, skips rush hours AM...",40.845900,-73.910136
21,http://web.mta.info/nyct/service/,22,167th St,POINT (-73.91843200082253 40.83376899862797),B-D,"B-rush hours, D-all times, skips rush hours AM...",40.833769,-73.918432
22,http://web.mta.info/nyct/service/,23,Mets - Willets Point,POINT (-73.8456249984179 40.75462199881262),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",40.754622,-73.845625
23,http://web.mta.info/nyct/service/,24,Junction Blvd,POINT (-73.86952700103515 40.74914499948836),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",40.749145,-73.869527
24,http://web.mta.info/nyct/service/,25,Flushing - Main St,POINT (-73.83003000262508 40.75959999915012),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",40.759600,-73.830030
25,http://web.mta.info/nyct/service/,26,Buhre Ave,POINT (-73.83256900003744 40.846809998885504),6-6 Express,"6 Express-weekdays AM southbound, PM northboun...",40.846810,-73.832569
26,http://web.mta.info/nyct/service/,27,3rd Ave - 138th St,POINT (-73.92613800014134 40.81047600117261),6-6 Express,"6-all times, 6 Express-weekdays AM southbound,...",40.810476,-73.926138
27,http://web.mta.info/nyct/service/,28,Castle Hill Ave,POINT (-73.85122199961472 40.83425499825462),6-6 Express,"6 Express-weekdays AM southbound, PM northboun...",40.834255,-73.851222
28,http://web.mta.info/nyct/service/,29,Brooklyn Bridge - City Hall,POINT (-74.0041310005885 40.713064999433136),4-5-6-6 Express,"4,6-all times, 5-all times exc nights, 6 Expre...",40.713065,-74.004131
29,http://web.mta.info/nyct/service/,30,Zerega Ave,POINT (-73.8470359987544 40.836488000608156),6-6 Express,"6 Express-weekdays AM southbound, PM northboun...",40.836488,-73.847036
...,...,...,...,...,...,...,...,...
443,http://web.mta.info/nyct/service/,444,14th St,POINT (-74.00168999937027 40.740893000193296),A-C-E,"A,E-all times, C-all times exc nights",40.740893,-74.001690
444,http://web.mta.info/nyct/service/,445,Nostrand Ave,POINT (-73.9504262489579 40.66993815093054),3-4,"4-nights, 3-all other times",40.669938,-73.950426
445,http://web.mta.info/nyct/service/,446,Clark St,POINT (-73.99308599821961 40.69746599996469),2-3,"2-all times, 3-all times exc nights",40.697466,-73.993086
446,http://web.mta.info/nyct/service/,447,Franklin Ave,POINT (-73.95684800014614 40.68137966658742),A-C,"A-nights, C-all other times",40.681380,-73.956848
447,http://web.mta.info/nyct/service/,448,Clinton - Washington Aves,POINT (-73.96583799857275 40.68326299912644),A-C,"A-nights, C-all other times",40.683263,-73.965838
448,http://web.mta.info/nyct/service/,449,Forest Ave,POINT (-73.90307500005954 40.70441200087814),M,M-all times,40.704412,-73.903075
449,http://web.mta.info/nyct/service/,450,110th St,POINT (-73.94424999687163 40.795020000113105),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.795020,-73.944250
450,http://web.mta.info/nyct/service/,451,86th St,POINT (-73.95558899985132 40.77949199820952),4-5-6-6 Express,"4,6-all times, 5-all times exc nights, 6 Expre...",40.779492,-73.955589
451,http://web.mta.info/nyct/service/,452,York St,POINT (-73.98688499993673 40.699742667691574),F,F-all times,40.699743,-73.986885
452,http://web.mta.info/nyct/service/,453,High St,POINT (-73.99053100065458 40.69933699977884),A-C,"A-all times, C-all times exc nights",40.699337,-73.990531
453,http://web.mta.info/nyct/service/,454,Lafayette Ave,POINT (-73.97394599849406 40.68611300020567),A-C,"A-nights, C-all other times",40.686113,-73.973946
454,http://web.mta.info/nyct/service/,455,President St,POINT (-73.95058920022207 40.667883603536815),2-5,"2-all times, 5 weekdays",40.667884,-73.950589
455,http://web.mta.info/nyct/service/,456,Woodlawn,POINT (-73.87875099990931 40.886037000253324),4,4-all times,40.886037,-73.878751
456,http://web.mta.info/nyct/service/,457,Bleecker St,POINT (-73.99465900006331 40.72591466682659),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays PM",40.725915,-73.994659
457,http://web.mta.info/nyct/service/,458,103rd St,POINT (-73.94747800152219 40.79060000008452),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.790600,-73.947478
458,http://web.mta.info/nyct/service/,459,Euclid Ave,POINT (-73.87210600099675 40.675376998239365),A-C-S,"S to Ozone Park-Lefferts Blvd-nights, C-all ot...",40.675377,-73.872106
459,http://web.mta.info/nyct/service/,460,88th St,POINT (-73.85147000026086 40.67984300135503),A-S,"A-all times, S Euclid Av to Ozone Park-Leffert...",40.679843,-73.851470
460,http://web.mta.info/nyct/service/,461,Cortelyou Rd,POINT (-73.96379005505493 40.6409401651401),Q,Q-all times,40.640940,-73.963790
461,http://web.mta.info/nyct/service/,462,116th St,POINT (-73.9416169983714 40.7986290002001),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.798629,-73.941617
462,http://web.mta.info/nyct/service/,463,Parkchester,POINT (-73.86081600108396 40.83322599927859),6-6 Express,"6-all times, 6 Express-weekdays AM southbound,...",40.833226,-73.860816
463,http://web.mta.info/nyct/service/,464,Franklin St,POINT (-74.00688600277107 40.719318001302135),1-2,"1-all times, 2-nights",40.719318,-74.006886
464,http://web.mta.info/nyct/service/,465,80th St,POINT (-73.85899200206335 40.67937100115432),A-S,"A-all times, S Euclid Av to Ozone Park-Leffert...",40.679371,-73.858992
465,http://web.mta.info/nyct/service/,466,5th Ave - Bryant Pk,POINT (-73.98196299856706 40.75382100064824),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",40.753821,-73.981963
466,http://web.mta.info/nyct/service/,467,Spring St,POINT (-73.99714100006673 40.72230099999366),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.722301,-73.997141
467,http://web.mta.info/nyct/service/,468,125th St,POINT (-73.93759400055725 40.804138000587244),4-5-6-6 Express,"4,6-all times, 5-all times exc nights, 6 Expre...",40.804138,-73.937594
468,http://web.mta.info/nyct/service/,469,Coney Island - Stillwell Av,POINT (-73.9812359981396 40.57728100006751),D-F-N-Q,"D,F,N,Q-all times",40.577281,-73.981236
469,http://web.mta.info/nyct/service/,470,34th St - Hudson Yards,POINT (-74.00219709442206 40.75544635961596),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",40.755446,-74.002197
470,http://web.mta.info/nyct/service/,641,72nd St,POINT (-73.95836178682246 40.76880251014895),Q,Q-all times,40.768802,-73.958362
471,http://web.mta.info/nyct/service/,642,86th St,POINT (-73.95177090964917 40.77786104333163),Q,Q-all times,40.777861,-73.951771
472,http://web.mta.info/nyct/service/,643,96th St,POINT (-73.9470660219183 40.784236650177654),Q,Q-all times,40.784237,-73.947066

In [53]:
#export subwaygeo as csv
subwaygeo.to_csv('subway_data.csv')

In [38]:
#nhood= pd.read_csv('lat_long_n.csv')

In [39]:
#nhood.head()

In [40]:
# v =pd.DataFrame(nhood['longitude;latitude;section;borough'].str.split('; ',1).tolist(),columns = ['longitude','latitude','section','borough'])

In [41]:
#v=nhood['longitude;latitude;section;borough'].str.split(';',3, expand=True)

In [42]:
#nhood2= nhood['longitude;latitude;section;borough'].str.split(';',3, expand=True)

In [43]:
#nhood2= nhood2.rename(index=str, columns={0: "long", 1: "lat",2:"neighborhod",3:"borough"})

In [44]:
#subway['NAME'].unique()

In [45]:
#nhood2[nhood2['borough']=='Manhattan']

In [46]:
#nhood2['lat'].min()

In [47]:
#nhood2['lat']= nhood2['lat'].astype('float')

In [48]:
#nhood2['long']= nhood2['long'].astype('float')

In [49]:
#nhood2.describe()

In [50]:
# html= pd.read_html('https://en.wikipedia.org/wiki/IRT_Lexington_Avenue_Line')

In [51]:
# html2= pd.DataFrame(html[2])

In [52]:
# html2.dropna

In [59]:
df = subway.copy()

In [60]:
df

,URL,OBJECTID,NAME,the_geom,LINE,NOTES,lat,long
0,http://web.mta.info/nyct/service/,1,Astor Pl,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.730054,-73.991070
1,http://web.mta.info/nyct/service/,2,Canal St,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.718803,-74.000193
2,http://web.mta.info/nyct/service/,3,50th St,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights",40.761728,-73.983849
3,http://web.mta.info/nyct/service/,4,Bergen St,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times",40.680862,-73.974999
4,http://web.mta.info/nyct/service/,5,Pennsylvania Ave,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times",40.664714,-73.894886
5,http://web.mta.info/nyct/service/,6,238th St,POINT (-73.90087000018522 40.88466700064975),1,"1-all times, exit only northbound",40.884667,-73.900870
6,http://web.mta.info/nyct/service/,7,Cathedral Pkwy (110th St),POINT (-73.95806670661364 40.800581558114956),A-B-C,"A-nights, B-weekdays and evenings, C-all times...",40.800582,-73.958067
7,http://web.mta.info/nyct/service/,8,Kingston - Throop Aves,POINT (-73.94085899871263 40.67991899941601),A-C,"A-nights, C-all other times",40.679919,-73.940859
8,http://web.mta.info/nyct/service/,9,65th St,POINT (-73.8987883783301 40.74971952935675),E-M-R,"E-nights, R-all other times, M-weekdays and ev...",40.749719,-73.898788
9,http://web.mta.info/nyct/service/,10,36th St,POINT (-73.92901818461539 40.75196004401078),E-M-R,"E-nights, R-all other times, M-weekdays and ev...",40.751960,-73.929018
10,http://web.mta.info/nyct/service/,11,Delancey St - Essex St,POINT (-73.98740940202974 40.71830605618619),J-M-Z,"J-all times, M-all times exc nights, Z-rush ho...",40.718306,-73.987409
11,http://web.mta.info/nyct/service/,12,Van Siclen Ave,POINT (-73.89165772702445 40.67802821447783),J-Z,"Z-rush hours AM westbound, PM eastbound, J-all...",40.678028,-73.891658
12,http://web.mta.info/nyct/service/,13,Norwood Ave,POINT (-73.87962599910783 40.68152000045683),J-Z,"Z-rush hours AM westbound, PM eastbound, J-all...",40.681520,-73.879626
13,http://web.mta.info/nyct/service/,14,104th-102nd Sts,POINT (-73.84443500029684 40.69516599823373),J-Z,"Z-rush hours AM westbound, PM eastbound, J-all...",40.695166,-73.844435
14,http://web.mta.info/nyct/service/,15,DeKalb Ave,POINT (-73.98177094440949 40.690648119969794),B-D-N-Q-R,"B-weekdays and evenings, D-all other times, N-...",40.690648,-73.981771
15,http://web.mta.info/nyct/service/,16,Beach 105th St,POINT (-73.82758075034528 40.58326843810286),A-S,"A-rush hours AM northbound, PM southbound, S B...",40.583268,-73.827581
16,http://web.mta.info/nyct/service/,17,Beach 90th St,POINT (-73.81365140419632 40.58809156457325),A-S,"A-rush hours AM northbound, PM southbound, S B...",40.588091,-73.813651
17,http://web.mta.info/nyct/service/,18,Freeman St,POINT (-73.89175225349464 40.829987446384116),2-5,"2-all times, 5-all times exc nights, skips rus...",40.829987,-73.891752
18,http://web.mta.info/nyct/service/,19,Intervale Ave,POINT (-73.89661738461646 40.822142131170786),2-5,"2-all times, 5-all times exc nights, skips rus...",40.822142,-73.896617
19,http://web.mta.info/nyct/service/,20,182nd-183rd Sts,POINT (-73.90074099998965 40.85609299881864),B-D,"B-rush hours, D-all times, skips rush hours AM...",40.856093,-73.900741
20,http://web.mta.info/nyct/service/,21,174th-175th Sts,POINT (-73.91013600050078 40.84589999983414),B-D,"B-rush hours, D-all times, skips rush hours AM...",40.845900,-73.910136
21,http://web.mta.info/nyct/service/,22,167th St,POINT (-73.91843200082253 40.83376899862797),B-D,"B-rush hours, D-all times, skips rush hours AM...",40.833769,-73.918432
22,http://web.mta.info/nyct/service/,23,Mets - Willets Point,POINT (-73.8456249984179 40.75462199881262),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",40.754622,-73.845625
23,http://web.mta.info/nyct/service/,24,Junction Blvd,POINT (-73.86952700103515 40.74914499948836),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",40.749145,-73.869527
24,http://web.mta.info/nyct/service/,25,Flushing - Main St,POINT (-73.83003000262508 40.75959999915012),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",40.759600,-73.830030
25,http://web.mta.info/nyct/service/,26,Buhre Ave,POINT (-73.83256900003744 40.846809998885504),6-6 Express,"6 Express-weekdays AM southbound, PM northboun...",40.846810,-73.832569
26,http://web.mta.info/nyct/service/,27,3rd Ave - 138th St,POINT (-73.92613800014134 40.81047600117261),6-6 Express,"6-all times, 6 Express-weekdays AM southbound,...",40.810476,-73.926138
27,http://web.mta.info/nyct/service/,28,Castle Hill Ave,POINT (-73.85122199961472 40.83425499825462),6-6 Express,"6 Express-weekdays AM southbound, PM northboun...",40.834255,-73.851222
28,http://web.mta.info/nyct/service/,29,Brooklyn Bridge - City Hall,POINT (-74.0041310005885 40.713064999433136),4-5-6-6 Express,"4,6-all times, 5-all times exc nights, 6 Expre...",40.713065,-74.004131
29,http://web.mta.info/nyct/service/,30,Zerega Ave,POINT (-73.8470359987544 40.836488000608156),6-6 Express,"6 Express-weekdays AM southbound, PM northboun...",40.836488,-73.847036
...,...,...,...,...,...,...,...,...
443,http://web.mta.info/nyct/service/,444,14th St,POINT (-74.00168999937027 40.740893000193296),A-C-E,"A,E-all times, C-all times exc nights",40.740893,-74.001690
444,http://web.mta.info/nyct/service/,445,Nostrand Ave,POINT (-73.9504262489579 40.66993815093054),3-4,"4-nights, 3-all other times",40.669938,-73.950426
445,http://web.mta.info/nyct/service/,446,Clark St,POINT (-73.99308599821961 40.69746599996469),2-3,"2-all times, 3-all times exc nights",40.697466,-73.993086
446,http://web.mta.info/nyct/service/,447,Franklin Ave,POINT (-73.95684800014614 40.68137966658742),A-C,"A-nights, C-all other times",40.681380,-73.956848
447,http://web.mta.info/nyct/service/,448,Clinton - Washington Aves,POINT (-73.96583799857275 40.68326299912644),A-C,"A-nights, C-all other times",40.683263,-73.965838
448,http://web.mta.info/nyct/service/,449,Forest Ave,POINT (-73.90307500005954 40.70441200087814),M,M-all times,40.704412,-73.903075
449,http://web.mta.info/nyct/service/,450,110th St,POINT (-73.94424999687163 40.795020000113105),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.795020,-73.944250
450,http://web.mta.info/nyct/service/,451,86th St,POINT (-73.95558899985132 40.77949199820952),4-5-6-6 Express,"4,6-all times, 5-all times exc nights, 6 Expre...",40.779492,-73.955589
451,http://web.mta.info/nyct/service/,452,York St,POINT (-73.98688499993673 40.699742667691574),F,F-all times,40.699743,-73.986885
452,http://web.mta.info/nyct/service/,453,High St,POINT (-73.99053100065458 40.69933699977884),A-C,"A-all times, C-all times exc nights",40.699337,-73.990531
453,http://web.mta.info/nyct/service/,454,Lafayette Ave,POINT (-73.97394599849406 40.68611300020567),A-C,"A-nights, C-all other times",40.686113,-73.973946
454,http://web.mta.info/nyct/service/,455,President St,POINT (-73.95058920022207 40.667883603536815),2-5,"2-all times, 5 weekdays",40.667884,-73.950589
455,http://web.mta.info/nyct/service/,456,Woodlawn,POINT (-73.87875099990931 40.886037000253324),4,4-all times,40.886037,-73.878751
456,http://web.mta.info/nyct/service/,457,Bleecker St,POINT (-73.99465900006331 40.72591466682659),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays PM",40.725915,-73.994659
457,http://web.mta.info/nyct/service/,458,103rd St,POINT (-73.94747800152219 40.79060000008452),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.790600,-73.947478
458,http://web.mta.info/nyct/service/,459,Euclid Ave,POINT (-73.87210600099675 40.675376998239365),A-C-S,"S to Ozone Park-Lefferts Blvd-nights, C-all ot...",40.675377,-73.872106
459,http://web.mta.info/nyct/service/,460,88th St,POINT (-73.85147000026086 40.67984300135503),A-S,"A-all times, S Euclid Av to Ozone Park-Leffert...",40.679843,-73.851470
460,http://web.mta.info/nyct/service/,461,Cortelyou Rd,POINT (-73.96379005505493 40.6409401651401),Q,Q-all times,40.640940,-73.963790
461,http://web.mta.info/nyct/service/,462,116th St,POINT (-73.9416169983714 40.7986290002001),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.798629,-73.941617
462,http://web.mta.info/nyct/service/,463,Parkchester,POINT (-73.86081600108396 40.83322599927859),6-6 Express,"6-all times, 6 Express-weekdays AM southbound,...",40.833226,-73.860816
463,http://web.mta.info/nyct/service/,464,Franklin St,POINT (-74.00688600277107 40.719318001302135),1-2,"1-all times, 2-nights",40.719318,-74.006886
464,http://web.mta.info/nyct/service/,465,80th St,POINT (-73.85899200206335 40.67937100115432),A-S,"A-all times, S Euclid Av to Ozone Park-Leffert...",40.679371,-73.858992
465,http://web.mta.info/nyct/service/,466,5th Ave - Bryant Pk,POINT (-73.98196299856706 40.75382100064824),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",40.753821,-73.981963
466,http://web.mta.info/nyct/service/,467,Spring St,POINT (-73.99714100006673 40.72230099999366),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.722301,-73.997141
467,http://web.mta.info/nyct/service/,468,125th St,POINT (-73.93759400055725 40.804138000587244),4-5-6-6 Express,"4,6-all times, 5-all times exc nights, 6 Expre...",40.804138,-73.937594
468,http://web.mta.info/nyct/service/,469,Coney Island - Stillwell Av,POINT (-73.9812359981396 40.57728100006751),D-F-N-Q,"D,F,N,Q-all times",40.577281,-73.981236
469,http://web.mta.info/nyct/service/,470,34th St - Hudson Yards,POINT (-74.00219709442206 40.75544635961596),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",40.755446,-74.002197
470,http://web.mta.info/nyct/service/,641,72nd St,POINT (-73.95836178682246 40.76880251014895),Q,Q-all times,40.768802,-73.958362
471,http://web.mta.info/nyct/service/,642,86th St,POINT (-73.95177090964917 40.77786104333163),Q,Q-all times,40.777861,-73.951771
472,http://web.mta.info/nyct/service/,643,96th St,POINT (-73.9470660219183 40.784236650177654),Q,Q-all times,40.784237,-73.947066

In [62]:
df.NOTES[0]

'4 nights, 6-all times, 6 Express-weekdays AM southbound, PM northbound'